.page-footer {
    margin-top: 3rem;
}

.mobile-nav-icon {
    float: right !important;
}

.logo {
    font-size: 1.5rem;
}

.image-wrapper {
    position: relative;
}

.image-wrapper p {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.image-wrapper img,
.full {
    width: 100% !important;
    object-fit: cover;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper .para-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    background-color: white;
}

@media(min-width: 768px) {
    .logo {
        font-size: 2.2rem;
    }
}
@media(min-width: 1260px) {

}