.title {
    font-size: 3.6rem;
}

.post-meta {
    color: rgb(70, 70, 70);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.richtext-image {
    width: 100%;
    height: auto;
}

.blog-date {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
}

h5 {
    margin-top: 0;
    font-weight: bold;
}

.card {
    margin-top: 1.5rem;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #009688 !important;
}

.tags {
    display: flex;
    color: rgb(70, 70, 70);
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.tags .badge {
    float: none !important;
    padding: 0.4rem;
    font-weight: bold !important;
}

.blog-date .material-icons {
    margin-right: 0.5rem;
}

@media(min-width: 768px) {
    .post-meta {
        font-size: 1.5rem;
        flex-direction: row;
    }

    .blog-date {
        margin-left: 1.5rem;
        margin-top: 0;
    }
}
@media(min-width: 1260px) {
    .title {
        font-size: 4.2rem;
    }
}