{% extends 'base.html' %}

{% load static mathfilters %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog_list_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Photography Articles</h1>
            <div class="divider"></div>
            {% for post in posts %}
            <div class="col s12 m6 l4">
                <article class="card large">
                    <div class="card-image">
                        {% image post.preview_image fill-500x400 as photo %}
                        <img src="{{ photo.url }}" alt="{{ photo.url }}">
                        <h5 class="card-title">{{ post }}</h5>
                    </div>
                    <div class="card-content">
                        <p>{{ post.summary }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ post.get_url }}">Read More</a>
                    </div>
                </article>
            </div>
            {% endfor %}
          </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <ul class="pagination">
                  <li class="{% if current_page == 1 %} disabled {% else %} waves-effect {% endif %}"><a href="?page={{ current_page|sub:1 }}"><i class="material-icons">chevron_left</i></a></li>
                  {% for i in page_range %}
                  <li class="{% if i == current_page %} active teal {% endif %} waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endfor %}
                  <li class="{% if current_page == num_pages %} disabled {% else %} waves-effect {% endif %}"><a href="?page={{ current_page|add:1 }}"><i class="material-icons">chevron_right</i></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}